<div class="subscribe-modal-container">
    <h2>Subscribe</h2>
    <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
        <div *ngIf="subscribeForm.get('name')?.invalid && subscribeForm.get('name')?.touched" class="error">
            Name is required
        </div>
    
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email" required>
        <div *ngIf="subscribeForm.get('email')?.invalid && subscribeForm.get('email')?.touched" class="error">
            Email address is required
        </div>
    
        <div class="button-container">
            <button type="submit" class="button-action" [disabled]="subscribeForm.invalid">Subscribe</button>
            <button type="button" class="button-cancel" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>